@{
    Layout = "_Layout";
}
@model ProductListViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
</head>

@section Header {
    <partial name="_header" />;
}
<body>

    @if (Model.Products.Count == 0)
    {
        @await Html.PartialAsync("_noproduct")
    }
    else
    {
        <div class="row">
            @foreach (var product in Model.Products)
            {
                <div class="col-md-3">
                    @await Html.PartialAsync("_product", product)
                </div>
            }
        </div>
    }
</body>
<div class="col-md-4">
    @*@await Component.InvokeAsync("Categories", false)*@
</div>
</html>
