<header style="padding-left:90px; margin:20px; width:1390px; height: 250px;">

    <!-- Background image -->
    <div class="p-5 text-center bg-image" style="background-image: url('https://mdbcdn.b-cdn.net/img/new/slides/041.jpg')" ;>
        <div class="mask" style="background-color: rgba(0, 0, 0, 0.6); ">
            <div class="d-flex justify-content-center align-items-center h-100">
                <div class="text-white">
                    <h1 class="mb-3">ShopApp</h1>
                    <h4 class="mb-3">Lorem</h4>
                </div>
            </div>
        </div>
    </div>
    <!-- Background image -->
</header>
