@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<div class="navbar navbar-dark bg-dark navbar-expand-sm">
    <div class="container">
        <a href="/" class="navbar-dark">Shopapp</a>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a href="/Home/Index" class="nav-link">Home Page</a>
            </li>
            <li class="nav-item">
                <a asp-controller="product" asp-action="list" class="nav-link">Products</a>
            </li> 
            <li class="nav-item">
                <a asp-controller="shop" asp-action="list" class="nav-link">Cart</a>
            </li> 
            <li class="nav-item">
                <a asp-controller="shop" asp-action="list" class="nav-link">Orders</a>
            </li>
            <li class="nav-item">
                <a  asp-controller="shop" asp-action="list" class="nav-link">Add Products</a>
            </li>
            <li class="nav-item">
                <a  asp-controller="admin" asp-action="createproduct" class="nav-link">Add Products</a>
            </li>
            <li class="nav-item">
                <a  asp-controller="admin" asp-action="productlist" class="nav-link">Add Products</a>
            </li>
        </ul>
        <form action="/Product/List" class="d-flex">
            <input name="q" type="text" class="form-control me-2" placeholder="Search" />
            <button type="submit" class="btn btn-outline-light mr-0">Search</button>
        </form>
    </div>

</div>
